---
import RegisterForm from '../components/RegisterForm.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro de Usuario con Astro y PHP</title>
  </head>
  <body>
    <RegisterForm client:load />
  </body>
</html>
